$green-1: #00908c;
$green-2: #2bc0bc;
$green-3: #81e8e5;
$black-1: #000;
$black-2: #343434;
$black-3: #464646;
$black-4: #595959;
$black-5: #5b5b5c;
$black-6: #676765;
$black-7: #afafaf;
$white-1: #e3eeee;
$white-2: #eaf5f5;
$white-3: #f5f5f5;
$white-4: #e6e6e6;
$red-1: #de5050;
