.header {
  display: flex;
  align-items: center;
  padding: 1rem 15rem 0 15rem;
  .logo {
    width: 33%;
    display: block;
  }
  .nav {
    width: 100%;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5.2rem;
      li {
        font-size: 1.6rem;
        font-weight: 700;
        &:hover {
          a {
            color: $green-2;
          }
        }
        a {
          color: $black-3;
        }
      }
    }
  }
}
